*{
    margin: 0;
    padding: 0;
    background-color: #0097B2;
 }

 .container{
    width: 100%;
    margin: auto;
 }
 .container2{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 }
 header{
    background-color: #0097B2;
    height: 100px;
    padding-top: 20px;
 }

 #logo{
   margin-top: 2%;
 }

 #nome{
   margin-top: -10%;

   font-size: 100px;
   color: black;
   text-align: center;
 }

 #destaque{
    background-color: #FF9244;
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    }

    #destaque a{
        background-color: #FF9244;
        text-decoration: none;
        color: white;
        margin: 15px 20px;
      }

      #destaque a:hover{
         background-color: #ffffff;
         color:#FF9244;
      }

#corpo1{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;


   
   display: flex;
   align-items: center;
   justify-content: center;

}

#corpo2{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
   
   display: flex;
   align-items: center;
   justify-content: center;

}

#corpo3{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
   
   display: flex;
   align-items: center;
   justify-content: center;

}

#produtos1{
   margin-top: 20%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
  
   text-align: center;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   justify-content: left;
}

#produtos2{
   margin-top: 5%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;
   
   max-width: max-content;
   min-width: min-content;

   text-align: center;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   justify-content: left;
}

#produtos3{
   margin-top: 5%;   
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
   
   text-align: center;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   justify-content: left;
}

#marca1{
   margin-top: 20%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;

   text-align: left;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   justify-content: center;

}

#marca2{
   margin-top: 5%;   
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
   
   text-align: left;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   justify-content: center;
}

#marca3{
   margin-top: 5%;   
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
   
   text-align: left;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   justify-content: center;
}

#redessociais{
   margin-top: 20%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
  
   text-align: center;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   justify-content: left;
}

#sobre1{
   margin-top: 15%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
  
   text-align: center;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr;
   align-items: left;
   justify-content: left;
}

#sobre2{
   margin-top: 10%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
  
   text-align: center;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr;
   align-items: left;
   justify-content: left;
}

#sobre3{
   margin-top: 10%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 5%;

   max-width: max-content;
   min-width: min-content;
  
   text-align: center;
   font-size: 30px;
   color: white;

   display: grid;
   grid-template-columns: 1fr;
   align-items: left;
   justify-content: left;
}

#button{
   display: flex;
   align-items: center;
   justify-content: center;

   font-size: 25px;
   font-weight: 300;
}

